a.logo .logo-title {
	font-size: 22px;
}

a.logo .sub-title {
	font-size: 13px;
}

.landing-page > div.content-bg-wrap {
	z-index: -1;
}

.title-block {
	margin-bottom: 15px;
}

.landing-page .content-bg-wrap {
    background-image: none;
}

.registration-login-form .nav-item {
    height: calc(100% / 3)
}

.tab-pane-content {
	padding: 25px;
}

.question {
	margin-bottom: 15px;
}

.question label,
.question input {
	display: inline-block;
}

.question input {
	width: 20%;
}

.question label {
	font-size: 14px;
	width: 80%;
}

.question label > img {
	max-height: 120px;
}

.tab-pane-content h4 {
	margin-bottom: 20px;
}

.step {
	margin-bottom: 15px;
}

.step span {
	font-size: 13px;
}

.btn-send {
	margin-left: 20px;
}
