a.logo .logo-title {
    font-size: 22px;
}

a.logo .sub-title {
    font-size: 13px;
}

.landing-page > div.content-bg-wrap {
    z-index: -1;
}

.title-block {
    margin-bottom: 15px;
}

.landing-page .content-bg-wrap {
    background-image: none;
}

.registration-login-form .nav-item {
    height: calc(100% / 3)
}

.tab-pane-content {
    padding: 25px;
}

.question {
    margin-bottom: 15px;
}

.question label,
.question input {
    display: inline-block;
}

.question input {
    width: 10%;
}

.question label {
    font-size: 14px;
}

.question label > img {
    max-height: 120px;
}

.tab-pane-content h4 {
    margin-bottom: 20px;
}

.step {
    margin-bottom: 15px;
}

.step span {
	margin-top: 5px;
    font-size: 14px;
}

.step span:before {
    content: "Saved time: ";
}

.btn-send {
    margin-left: 20px;
}

#process_form_btn {
	margin-left: 25px;
}

.nav-tabs .nav-link.disabled {
	border-color: #e6ecf5;
}

span#countdown {
    border: 2px solid #004853;
    display:inline;
    padding: 5px;
    color: #004853;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
}

.btn-primary.hidden {
    display: none;
}

.question-wrapper.hidden {
    display: none !important;
}

.question-wrapper.visible {
    display: flex !important;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: baseline;
}

.landing-content h1,
.landing-content h6 {
    transition: opacity 0.5s;
}

#json_dump {
	margin-top: 20px;
}
