a.logo .logo-title {
	font-size: 22px;
}

a.logo .sub-title {
	font-size: 13px;
}

.landing-page > div.content-bg-wrap {
	z-index: -1;
}

.landing-page .content-bg-wrap {
    background-image: none;
}

.registration-login-form .nav-item {
    height: calc(100% / 3)
}

.tab-pane {
	padding: 15px;
}